/* 
    Created on : Oct 22, 2013, 9:18:25 PM
    Author     : robertcoscia
*/
#LoginDiv {
	padding-top:2%;
}

.LoginForm {
	margin:0;
	padding:0;
	background:#f1f1f1;
	border:none;
	width:75%;
}

#EmailDiv {
	padding-top:5%;
	padding-bottom:5%;
}

#PwdDiv {
	padding-bottom:5%;
}

.LoginLabel {
	float:left;
	width:30%;
	text-align:right;
	margin-right:.5em;
	white-space:nowrap;
}

#PwdInput,#EmailInput {
	width:25%;
}

#LoginButtonDiv {
	padding-left:32%;
	padding-bottom:3%;
}

#LoginErrorDiv {
	color:red!important;
	float:right;
	width: 50%;
}

.ErrorDiv {
	color:red!important;
	text-align:left;
	float:right;
	width:40%;
}