/*
    Created on : Oct 12, 2013, 4:11:25 PM
    Author     : robertcoscia
*/
#SignupForm {
	margin:0;
	padding:0;
	background:#f1f1f1;
	border:none;
	width:75%;
}

#FirstNameDiv,#LastNameDiv,#EmailAddressDiv,#PasswordDiv,#VerifyPasswordDiv {
	padding-bottom:5%;
}

#FirstNameDiv {
	padding-top:5%;
}

.SignupLabel {
	float:left;
	width:30%;
	text-align:right;
	margin-right:1px;
	white-space:nowrap;
}

.SignupValue {
	width:25%;
}

#CreateButtonDiv {
	padding-left:32%;
	padding-bottom:3%;
}

#CreateAccountInput {
	width:30%;
}

.ErrorDiv {
	color:red!important;
	text-align:left;
	float:right;
	width:40%;
}